---
import { RichText } from '../../lib/interfaces.ts'

export interface Props {
  richTexts: RichText[]
}

const { richTexts } = Astro.props
---

{
  richTexts.length > 0 && richTexts[0].Text.Content && (
    <div class="caption">{richTexts[0].Text.Content}</div>
  )
}

<style>
  .caption {
    margin-top: 0.3rem;
    font-size: 0.8rem;
    /* background: rgba(235, 236, 237, 0.6);   */
    text-decoration:underline;
    text-decoration-color: #ccc;
  }
</style>
